extends layout

block content
  .blog-post
    each post in posts
      hr
      p.blog-post-meta!= post
      p.blog-post-meta
        | December 14, 2013 by
        a(href='#') Chris
      // /.blog-main
