doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= 'helloworld'
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type="text/javascript", src='/javascripts/vendor.js')
  body
    .blog-masthead
      .container
        nav.blog-nav
          a.blog-nav-item(href='/') Home
          a.blog-nav-item(href='/markdown') Markdown
          //- a.blog-nav-item(href='#') Press
          //- a.blog-nav-item(href='#') New hires
          //- a.blog-nav-item(href='#') About
    block content
