doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type="text/javascript", src='/javascripts/vendor.js')
  body
    .blog-masthead
      .container
        nav.blog-nav
          a.blog-nav-item(href='/') Home
          a.blog-nav-item(href='/markdown') Markdown
          a.blog-nav-item(href='/uploadblog') uploadblog
          //- a.blog-nav-item(href='#') New hires
          //- a.blog-nav-item(href='#') About
    .container
      .blog-header
        h1.blog-title!= title
        p.lead.blog-description= description
      .row
        .col-sm-8.blog-main
          block content
        include sidebar.jade
